* {
   box-sizing: border-box;
   font-family: 'Microsoft JhengHei';
}
body {
   margin: 0;
}
/* ---- Header ---- */
.main_header {
   background-color: white;
   position: fixed;
   border-bottom: 1px solid #e9e9e9;
   box-shadow: 0px 1px 2px 0 #f1f0f0;
   margin: 0;
   width: 100%;
   height: 60px;
   z-index: 1;
}
.main_header > .container {
   display: flex;
   height: 100%;
   max-width: 1000px;
   margin: 0 auto;
}
.main_header > .container > .box {
   margin: auto 10px;
   display: flex;
}
.main_header > .container > .box > .title {
   font-size: 1rem;
   display: flex;
   color:#404040;
   text-decoration: none;
}
.main_header > .container > .box > .title > .logo {
   height: 30px;
   width: 30px;
   margin: auto 10px;  
}
.main_header > .container > .box > .search {
   border: 1px solid #e9e9e9;
   border-radius: 0.3rem 0 0 0.3rem;
   width: 180px;
   height: 35px;
   padding: 0.5em;
}
.main_header > .container > .box > .search_btn {
   background: transparent;
   border: 1px solid #e9e9e9;
   border-radius: 0 0.3rem 0.3rem 0;
   width: 35px;
   cursor: pointer;
}
.main_header > .container > .nav_bar {
   flex:auto
}
.main_header > .container > .nav_bar > ul {
   list-style: none;
   margin: 0 10px 0 auto; 
   height: 60px;
   padding-left: 20px;
   display: none;
}
.main_header > .container > .nav_bar > ul > li {
   display: inline-block;
   line-height: 60px;
   padding: 0 5px;
   font-size: 1rem;
}
.main_header > .container > .nav_bar > ul > li > a {
   color: black;
   text-decoration: none;
}
.main_header > .container > .nav_bar > .menu {
   max-height: 30px;
   max-width: 30px;
   margin: 10px 10px 10px auto;
}

/* ---- Footer ---- */
.main_footer {
   color: #EFEFEF;
   background: #333;
   margin: 0;
   width: 100%;
   height: auto;
   padding: auto;
   padding-top: 10px;
}
.main_footer > .container_footer {
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   max-width: 1000px;
   padding: 10px 0;
   margin: 0 auto;
}
.main_footer > .container_footer > .box_footer {
   display: flex;
   flex: 1 100%;
   margin: 5px auto 15px;
}
.main_footer > .container_footer > .box_footer > .logo_footer {
   margin: 10px 20px;
   height: 40px;
   width: 40px;
}
.main_footer > .container_footer > .box_footer > .title_footer > h3,
.main_footer > .container_footer > .box_footer > .title_footer > h4 {
   font-weight: 500;
   margin: 5px 0;
}
.main_footer > .container_footer > .copyright > h4 {
   font-weight: 500;
   margin: 0 20px;
   line-height: 2rem;
}

@media (min-width: 750px) {
   .main_header > .container > .nav_bar > .menu {
       display: none;
   }
   .main_header > .container > .nav_bar > ul {
       display: block;
   }
   .main_footer > .container_footer {
      justify-content: flex-end;
   }

   .main_footer > .container_footer > .box_footer{
      flex: auto;
   }
   .main_footer > .container_footer > .copyright > h4 {
      margin: 0 15px 0 auto;
   }
}