/* ---- Main ---- */

main {
   width: 100%;
   height: 100%;
   padding-top: 80px;
   padding-bottom: 20px;
}
main > .ctn {
   max-width: 700px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}
main > .ctn > h1 {
   text-align: center;
   font-size: 2.5rem;
   line-height: 1.25em;
    color: #404040;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
main > .ctn > h1 > img {
   margin: 0 10px;
   height: 55px;
   width: 55px;
}
main > .ctn > input {
   width: 100%;
   line-height: 1.25em;
   border: 1px solid #e9e9e9;
   padding: 1em;
   border-radius: 0.3rem;
   color: #646464;
   background: #fff;
   border-color: #e9e9e9;
}
main > .ctn > button {
   width: 150px;
   margin: 20px auto;
   cursor: pointer;
   padding: 0.75em 1.5em;
   border-radius: 0.3em;
   font-size: 1em;
   font-weight: 700;
   line-height: 1em;
   border-width: 1px;
   border-style: solid;
   vertical-align: middle;
   text-align: center;
   border-color: #f0f0f0;
   background: #eee;
   color: #5a5a5a;
}