extends layout

block title
  title Not Found | GU 搜尋 | GU 比價

block append css
   link(rel='stylesheet' href='/static/css/error.css')

block content
  main
    .ctn
      img(src='/static/imgs/error.png')
      h1 404
      h2 Not Found



