doctype html
html
    head
        block title
        meta(name='viewport' content='width=device-width, , initial-scale=1.0')
        block css
        link(rel='stylesheet' href='/static/css/common.css')
        block js
        script(src='/static/js/common.js')
body
    header.main_header
        .container
            .box
                a.title(href='/')
                    img.logo(src='/static/imgs/logo.png')
                    p GU 搜尋
            .box
                input#search_header.search(type='text' placeholder=' 輸入關鍵字或商品編號 ...')
                button.search_btn(onclick="headerSearch()") →
            .box.nav_bar
                img.menu(src='/static/imgs/menu.png')
                ul
                    li
                        a(href='/') 首頁
                    li
                        a(href='#') 男裝
                    li
                        a(href='#') 女裝
                    li
                        a(href='#') 童裝
    block content

    footer.main_footer
        .container_footer
            .box_footer
                img.logo_footer(src='/static/imgs/logo_footer.png')
                .title_footer
                    h3 GU 搜尋
                    h4 GU 價格查詢比價網
            .box_footer.copyright
                h4 
                    |GU 搜尋是一個專案作品，與 UNIQLO 或 GU 無關。
                    br
                    |本網站所有提及之商標與名稱皆屬該公司所有。

