doctype html
html
    head
        link(rel='shortcut icon' href='/static/imgs/favicon.png')
        block title
            title  | GU 搜尋 | GU 比價
        meta(name='viewport' content='width=device-width, , initial-scale=1.0')
        block css
            link(rel='stylesheet' href='/static/css/layout.css')
        script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=606485106744129&autoLogAppEvents=1')
        script(async='' defer='' src="https://apis.google.com/js/platform.js?onload=GoogleSigninInit")
        script.
            function GoogleSigninInit() {
                gapi.load('auth2', () => {
                    gapi.auth2.init({
                        client_id: '943449462904-krjfkfl3789uvu46ukguh2cgsmddkpkt.apps.googleusercontent.com',
                    });
                });
            }
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-172748058-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-172748058-1');
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
        script.
            const socket = io();
            socket.emit('message', window.location.href)
body
    header.main_header
        .container
            .box
                a.title(href='/')
                    img.logo(src='/static/imgs/logo.png')
                    p GU 搜尋
            .box
                input#search_header.search(type='text' placeholder=' 輸入商品關鍵字 ...')
                button.search_btn(onclick="headerSearchBtn()") →
            .box.nav_bar
                img#menu_img.menu(src='/static/imgs/menu.png')
                ul#menu_list
                    a(href='/')
                        li 首頁
                    a(href='/men')
                        li 男裝
                    a(href='/women')
                        li 女裝
                    a(href='/kids')
                        li 童裝
            .box.member_box
                button#member_btn.member_btn
                    img#member_logo.member_logo
        #profile_modal.profile_ctn_bg
            .profile_ctn
                #profile_close.profile_close
                    p x
                #profile_name.profile_name
                a(href="/profile")
                    p 個人資料
                a(href="/profile")
                    p 收藏清單
                .logout
                p#logoutBtn 登出

    #member_modal.member_modal
        .modal_content
            #modal_close.modal_close
                p x
            .modal_container
                #nav_signup.nav.signup Sign Up
                #nav_login.nav.login Log In
                //- Signup Form
                form#signup_form.form.signup-form
                    input#signup_name.input(type='text' name='name' placeholder='Your Name')
                    br
                    input#signup_email.input(type='email' name='email' placeholder='Your Email Address')
                    br
                    input#signup_password.input(type='password' name='password' placeholder='Choose a Password')
                    br
                    button#signupBtn.btn Create account
                //- Login Form
                form#login_form.form.login-form
                    input#login_email.input(type='email' name='email' placeholder='Email')
                    br
                    input#login_password.input(type='password' name='password' placeholder='Password')
                    br
                    button#loginBtn.btn log in
                button.google_btn(onclick="GoogleLogin()")
                    img.google_icon(src="/static/imgs/google.png")
                    p Log in with Google
                button.fb_btn(onclick="FacebookLogin()")
                    img.fb_icon(src="/static/imgs/fb.png")
                    p Log in with Facebook
    #member_modal_bg.member_modal_bg
    block content
    #comparsion_arrow.comparsion_arrow
        img(src="/static/imgs/compare_arrow.png")
    #comparison_bg.comparison_bg
        #comparsion_close.comparsion_close
            p x
        .comparison
            .comparsion_title
                h3 產品比較表
                p 產品已加入比較。至多可選取 4 項產品或直接查看比較結果。
            .comparsion_items
                ul#comparsion_ul.comparsion_ul
            a#go_to_compare.go_to_compare 立即比較

    footer.main_footer
        .container_footer
            .box_footer
                img.logo_footer(src='/static/imgs/logo_footer.png')
                .title_footer
                    h3 GU 搜尋
                    h4 GU 價格查詢比價網
            .box_footer.copyright
                h4 
                    |GU 搜尋是一個專案作品，與 UNIQLO 或 GU 無關。
                    br
                    |本網站所有提及之商標與名稱皆屬該公司所有。

block js
    script(src='/static/js/layout.js')
