/* ---- Main ---- */

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

main > p {
  display: none;
}

main > .view {
  flex: auto;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main > .view > .view_box {
  display: flex;
  margin: 20px;
  flex: 1 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: flex-end;
}

main > .view > .view_box > h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #404040;
  font-weight: 700;
  margin-left: 10px;
}

main > .view > .view_box > a {
  font-size: 0.8rem;
  color: #404040;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin-right: 10px;
}

main > .view > .view_box > a:hover {
  color: #919191;
}

main > .view > .products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 10px;
  flex: 1 100%;
}

main > .view > .products > .product {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 10px;
  border-radius: 0.3rem;
  border: 1px solid #e9e9e9;
  color: #5a5a5a;
  background: #fff;
  border-color: #e9e9e9;
  text-decoration: none;
  box-shadow: none;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
}

main > .view > .products > .product:hover {
  box-shadow: 0 5px 10px 0 #a19f9f;
}

main > .view > .products > .product > img {
  width: 100%;
}

main > .view > .products > .product > .name {
  padding: 10px 10px 5px;
}

main > .view > .products > .product > .number {
  padding: 0 10px 15px;
  font-size: 0.8rem;
  color: #919191;
}

main > .view > .products > .product > .price {
  margin-top: auto;
  height: 50px;
  width: 100%;
  padding: 15px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 750px) {
  main > .view > .products > .product {
    width: calc(25% - 20px);
  }
}
