/* ---- Main ---- */

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

main > .view {
  flex: auto;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main > .view > .nav {
  margin: 0 20px 10px;
  flex: 1 100%;
  color: #404040;
  padding-bottom: 6px;
  border-bottom: 1px solid #e6e6e6;
}

main > .view > .nav > h2 {
  margin: 0 10px 0 0;
  font-size: 1.25rem;
  color: #404040;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
}

main > .view > .ctn_1 {
  display: flex;
  flex-direction: column;
  margin: 0 10px 10px;
  flex: 1 100%;
}

main > .view > .ctn_1 > .connect_box {
  padding: 19px;
  margin: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  text-align: center;
  color: #333;
}

main > .view > .ctn_1 > .connect_box > h3 {
  font-size: 24px;
  line-height: 40px;
  margin: 0;
  font-weight: bold;
}

main > .view > .ctn_1 > .connect_box > p {
  font-size: 96px;
  line-height: 96px;
  margin: 0 0 10px;
}

main > .view > .ctn_1 > .connect_box > h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  margin: 10px 0;
}

main > .view > .ctn_1 > .info_box {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: #333;
}

main > .view > .ctn_1 > .info_box > .activity > h3,
main > .view > .ctn_1 > .info_box > .page > h3 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

main > .view > .ctn_1 > .info_box > .activity > .visits > table,
main > .view > .ctn_1 > .info_box > .page > .pageViews > table {
  border: 1px solid #ddd;
  border-collapse: separate;
  border-radius: 4px;
  border-left: 0;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
}

main > .view > .ctn_1 > .info_box > .activity > .visits > table > thead > tr > td,
main > .view > .ctn_1 > .info_box > .page > .pageViews > table > thead > tr > td {
  border-left: 1px solid #ddd;
  padding: 4px 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

main > .view > .ctn_1 > .info_box > .activity > .visits > table > tbody > tr > td,
main > .view > .ctn_1 > .info_box > .page > .pageViews > table > tbody > tr > td {
  border-left: 1px solid #ddd;
  padding: 4px 5px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

main > .view > .ctn_1 > .info_box > .activity > .visits > table > tbody > tr:nth-child(odd) td,
main > .view > .ctn_1 > .info_box > .page > .pageViews > table > tbody > tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

@media (min-width: 750px) {
  main > .view > .ctn_1 {
    flex-direction: row;
  }

  main > .view > .ctn_1 > .connect_box {
    flex: 1;
    align-self: start;
  }

  main > .view > .ctn_1 > .info_box {
    flex: 3;
  }
}
