* {
   box-sizing: border-box;
   font-family: 'Microsoft JhengHei';
}
body {
   height: 100%;
   margin: 0;
}
button,
input,
summary {
   outline: none;
}
summary:hover {
   opacity: 0.7;
}
/* ---- Header ---- */
.main_header {
   background-color: white;
   position: fixed;
   border-bottom: 1px solid #e9e9e9;
   box-shadow: 0px 1px 2px 0 #f1f0f0;
   margin: 0;
   width: 100%;
   height: 60px;
   z-index: 1;
}
.main_header > .container {
   display: flex;
   height: 100%;
   max-width: 1000px;
   margin: 0 auto;
}
.main_header > .container > .box {
   margin: auto 10px;
   display: flex;
}
.main_header > .container > .box > .title {
   font-size: 1rem;
   display: flex;
   color:#404040;
   text-decoration: none;
}
.main_header > .container > .box > .title > .logo {
   height: 30px;
   width: 30px;
   margin: auto 10px;  
}
.main_header > .container > .box > .search {
   border: 1px solid #e9e9e9;
   border-radius: 0.3rem 0 0 0.3rem;
   width: 100px;
   height: 35px;
   padding: 0.5em;
   font-size: 0.6rem;
}
.main_header > .container > .box > .search_btn {
   background: transparent;
   border: 1px solid #e9e9e9;
   border-radius: 0 0.3rem 0.3rem 0;
   width: 35px;
   cursor: pointer;
   font-weight: 900;
}
.main_header > .container > .box > .search_btn:hover {
   background-color: rgb(238, 238, 238);
}
.main_header > .container > .nav_bar {
   flex:auto;
   display:flex;
   justify-content: end;
}
.main_header > .container > .nav_bar > ul {
   width: 170px;
   padding: 0;
   list-style: none;
   margin: 0 10px 0 auto; 
   height: 60px;
}
.main_header > .container > .nav_bar > ul > li {
   display: inline-block;
   line-height: 60px;
   padding: 0 5px;
}
.main_header > .container > .nav_bar > ul > li > a {
   color: black;
   text-decoration: none;
}
.main_header > .container > .nav_bar > ul > li > a:hover {
   color: #919191;
}
.main_header > .container > .nav_bar > .menu {
   max-height: 30px;
   max-width: 30px;
   margin: 10px 10px 10px auto;
   cursor: pointer;
}
.main_header > .container > .member_box {
   margin-left: 0;
}
.main_header > .container > .member_box > .member_btn {
   padding: 0;
   background-color: white;
   border: none;
   cursor: pointer;
}

/* ---- Member Modal ---- */
.member_modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .member_modal > .modal_content {
   position: fixed;
   background-color: lightgray;
   top: 25%;
   left: 35%;
   right: 35%;
   max-height: 100%;
   overflow: auto;
   width: 30%;
 }
 .member_modal > .modal_content > .modal_container {
   height: 100%;
   width: 300px;
   margin: 0 auto;
 }
 .member_modal > .modal_content > .modal_container > .google_btn {
   padding: 0;
   height: 40px;
   width: 250px;
   background-color: white;
   border: 0px;
   border-radius: 5px;
   margin: 20px auto;
   display: block;
   cursor: pointer;
 }
 .member_modal > .modal_content > .modal_container > .google_btn > .google_icon {
   position: relative;
   top: 3.5px;
   height: 20px;
   width: 20px;
 }

 .member_modal > .modal_content > .modal_container > .google_btn > p {
   display: inline-block;
   color: black;
   font-size: 1rem;
   line-height: 40px;
   margin: 0 0 0 10px;
 }
 .member_modal > .modal_content > .modal_container > .fb_btn {
   padding: 0;
   height: 40px;
   width: 250px;
   background-color: #4267B2;
   border: 0px;
   border-radius: 5px;
   margin: 20px auto;
   display: block;
   cursor: pointer;
 }
 .member_modal > .modal_content > .modal_container > .fb_btn > .fb_icon {
   position: relative;
   top: 3.5px;
   height: 20px;
   width: 20px;
 }

 .member_modal > .modal_content > .modal_container > .fb_btn > p {
   display: inline-block;
   color: white;
   font-size: 1rem;
   line-height: 40px;
   margin: 0 0 0 10px;
 }
 


/* ---- Footer ---- */
.main_footer {
   color: #EFEFEF;
   background: #333;
   margin: 0;
   width: 100%;
   height: auto;
   padding: auto;
   padding-top: 10px;
}
.main_footer > .container_footer {
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   max-width: 1000px;
   padding: 10px 0;
   margin: 0 auto;
}
.main_footer > .container_footer > .box_footer {
   display: flex;
   flex: 1 100%;
   margin: 5px auto 15px;
}
.main_footer > .container_footer > .box_footer > .logo_footer {
   margin: 10px 20px;
   height: 40px;
   width: 40px;
}
.main_footer > .container_footer > .box_footer > .title_footer > h3,
.main_footer > .container_footer > .box_footer > .title_footer > h4 {
   font-weight: 500;
   margin: 5px 0;
}
.main_footer > .container_footer > .copyright > h4 {
   font-weight: 500;
   margin: 0 20px;
   line-height: 2rem;
}
@media (max-width: 749px) {
   .main_header > .container > .nav_bar > .menu,
   .main_header > .container > .nav_bar > .show {
      display: block;
   }
   .main_header > .container > .nav_bar > ul {
      position: fixed;
      width: 100px;
      height: 160px;
      background-color: white;
      border-left: solid #919191 .5px;
      border-right: solid  #919191 .5px;
      border-bottom: solid  #919191 .5px;
      top: 55px;
      right: 55px;
      padding: 0;
      margin: 0;
      display: none;
   }
   .main_header > .container > .nav_bar > ul > li {
      line-height: 40px;
      font-size: 1rem;
      display: block;
      text-align: center;
   }
}
@media (min-width: 750px) {
   .main_header > .container > .nav_bar > .menu {
      display: none;
   }
   .main_header > .container > .box > .search {
      width: 150px;
      font-size: 0.8rem;
   }
   .main_footer > .container_footer {
      justify-content: flex-end;
   }
   .main_footer > .container_footer > .box_footer{
      flex: auto;
   }
   .main_footer > .container_footer > .copyright > h4 {
      margin: 0 15px 0 auto;
   }
}